@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

html{
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
}
*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
}

.loading{
  display: grid;
  place-items: center;
  height: 100vh;
}

.header{
  display: flex;
  justify-content: flex-end;
}

.main{
  padding: 1rem 3rem;
}

.random--btn{
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon{
  margin-left: .5rem;
}

.container{
 display: grid;
 place-items: center;
 height: 100vh;
}

.quote{
  width: 100%;
  max-width: 40rem;
}

.quote-text{
  font-size: 1.6rem;
  border-left: 3px solid rgb(212, 145, 0);
  padding:  0 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.quote-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  background-color: #242424;
  padding: 2.5rem 0;
  margin: 0 2rem;
  color: #fff;
}
.quote-author{
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
}
.quote-details h6{
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 100;
}

.quote-details__icon{
  margin-right: 1rem;
}

.author-text{
  margin: 3rem 0;
}

.wrapper{
  
}